.places {
  margin-bottom: 92px;
  display: grid;
  justify-content: center;
  row-gap: 80px;
  padding: 0;
  max-width: 984px;
}

@media screen and  (max-width: 1279px) {
  .places {
    margin: 0 48px 92px 48px;
  }
}
  
@media screen and (max-width: 1023px) {
  .places {
    margin: 0 24px 90px 24px;
    row-gap: 73px;
  }
}
 
@media screen and (max-width: 767px) {
  .places {
    margin: 0 16px 66px 16px;
    padding: 0;
    row-gap: 50px;
  }
}