.lead__title {
  margin: 0 0 32px 0;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  color: #FFFFFF;
  text-align: center;
  align-self: center;
}

@media screen and (max-width:767px) {
  .lead__title {
    margin-bottom: 16px;
     max-width: 288px;
     font-family: Inter;
     font-weight: 900;
     font-size: 40px;
     line-height: 1.1;
     text-align: center;
     color: #FFFFFF;
   }
 }
