.intro__text {
  max-width: 690px;
  margin: 0 0 33px 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  text-align: start;
}

@media screen and (max-width:767px) {
  .intro__text {
    margin-bottom: 34px;
  }
}

