.footer__item {
  list-style-type: none;
  margin-right: 18px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.12; 
}

.footer__item:last-of-type {
  margin-bottom: 0;
}
  
@media screen and (max-width: 767px) {
  .footer__item {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
  }
}
