.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;  
 }

 .cover__background::after {
  opacity: .3;
 }

 .cover__background::after:hover {
  background: #2A2C2F;
  opacity: .8;
}