.cover__background {
  background: url(../../../images/cover-trains.jpg);  
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 0; 
 }

 .cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .6s ease-in;
  z-index: 0;
}

.cover__background:hover::after {
 background: #2A2C2F;
 opacity: .8;
}


@media screen and (max-width: 1279px) {
  .cover__background {
    width:100% ;
    min-height: calc(100vw/1.6);
  }
}

