.cover__title {
  margin: 0 auto 32px auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
  color: #FFFFFF;
  z-index: 2;
}
  
@media screen and (max-width: 768px) {
  .cover__title {
    margin: 0 0 16px 0;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}